@config "../tailwind.config.js";
@import "tailwindcss";
@import '@splidejs/svelte-splide/css';


@import '@splidejs/svelte-splide/css/skyblue';
@import '@splidejs/svelte-splide/css/sea-green';


@import '@splidejs/svelte-splide/css/core';